.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 50px 100px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 60px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left h1 {
    font-size: 35px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 80%, #B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    font-size: 18px;
    font-weight: 400;
    min-width: 550px;
    color: #D8d8d8;
    line-height: 30px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D8d8d8;
    font-size: 12px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.contact-right label{
    color: #D8d8d8;
    font-size: 18px;
    font-weight: 600;
}

.contact-right input{
    border: none;
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    background: #323232;
    font-family: outfit;
    font-size: 15px;
}

.contact-right textarea{
    width: 320px;
    height: 100px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #323232;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 15px;
}

.contact-submit{
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415ff 106%);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .contact{
        align-items: start;
        gap: 30px;
        margin: 20px 70px;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
    }
    .contact-title img{
        width: 130px;
        margin-right: -10px;
    }
    .contact-section{
        flex-direction: column;
        gap: 20px;
    }
    .contact-left{
        gap: 10px;
    }
    .contact-left h1{
        font-size: 30px;
    }
    .contact-left p{
        min-width: 350px;
    }
    .contact-details{
        gap: 10px;
    }
    .contact-detail{
        gap: 10px;
    }
    .contact-right{
        gap: 10px;
    }
    .contact-right label{
        font-size: 16px;
    }
    .contact-right input{
        width: 300px;
    }
    .contact-right textarea{
        width: 300px;
        height: 150px;
    }
    .contact-submit{
        padding: 10px 20px;
        font-size: 14px;
    }
}















